@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.inactiveTab {
  padding: 4px 0;
}

.activeTab {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
  padding: 4px 0;
  z-index: 10;
}

.activeTab:hover,
.activeTab:focus {
  color: #d9e2f1;
}